.add-comment {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray
}

.add-comment input{
  width: 90%;
  border: none;
  font-size: 14px;
  padding: 20px 10px;
  background-color: transparent;
}
@media (max-width: 500px) {
  .add-comment input {
    width: 80%;
  }
}

.add-comment input:focus{
  outline: none;
}

.add-comment button{
  width: 10%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: dodgerblue;
  opacity: 0.5;
}
@media (max-width: 500px) {
  .add-comment button {
    width: 20%;
  }
}