.add-comment form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid lightgray
}

.add-comment form input{
  width: 90%;
  border: none;
  font-size: 14px;
  padding: 20px 10px;
  background-color: transparent;
}
@media (max-width: 500px) {
  .add-comment form input {
    width: 80%;
  }
}

.add-comment form input:focus{
  outline: none;
}

.add-comment form button{
  width: 10%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: transparent;
  color: dodgerblue;
}
@media (max-width: 500px) {
  .add-comment form button {
    width: 20%;
  }
}

.add-comment form button:focus{
  outline: none;
}